.dropDownButton {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 1rem;
	text-align: left;
	font-family: inherit;
	color: green;
	margin: 0.1rem;
}

.dropDownIcon {
	color: inherit;
	transition: transform 0.3s;

	&:hover {
		transform: rotate(180deg) scale(2);
	}
}

.name {
	display: flex;
}

.children {
	margin-left: 1rem;
	overflow: hidden;
}

.childrenClose {
	display: none;
}

.disabled {
	color: black;
}
